.otpform{
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding: 25px 30px;
}
.otpform h3{
    font-weight: 800;
    font-family: "Poppins";
    }
    .otpform input[type=text] {
        border: 0px !important;
        height: 50px;
    }

.otpcardbody{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.rightresend{
    text-align: right !important;
}
.rightresend a{
    color: #323232 !important;
    text-decoration: none;
}
.rightresend a:hover{
    color: #0001f9 !important;
    text-decoration: underline;
}
.otpbutton{
    background: #313131 !important;
    margin-top: 15px;
    padding: 8px 20px;
    color: #fff !important;
}
.otpbutton:hover {
    background: #0001f9 !important;
}