.leftcontent {
    padding: 0px 25px !important;
}
.leftcontent h2{
    font-size: 35px;
    font-weight: bold;
}
.leftcontent h4{
    font-weight: 600;
    margin-bottom: 20px;
}
.smallbluedivider {
    width: 180px;
    height: 3px;
    background: #0001f9;
    margin: 15px 0px;
}
.benefits_points{
    /* list-style: none; */
    list-style-image: url('../../../public/images/arrow.png');
}
.culturesignupform{
    background: #f7f7f7;
    border: 1px solid #f7f7f7;
    padding: 25px 40px;
}
.culturesubtitle {
    font-weight: 500;
}
.cultureheading{
    font-weight: bold;
}
.culturesignupcardbody{
    padding-left:0px;
    padding-right: 0px;
}
.culturesignupform input{
border: 0px !important;
height: 50px;
}
.algnitemscenter{
    align-items: center;
}
.culturesignupbutton{
    background: #0001f9 !important;
    color:#fff !important;
    text-transform:uppercase;
    font-weight: 600;
}
.culturesignupbutton:hover{
    background: #0001f9 !important;
}
.benefits_points_list {
    margin-bottom: 15px !important;
    font-weight: 400;
}
.filearea {
    line-height: 40px !important;
}