.text{
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
.text1{
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 12px;
    font-weight: 600;
    text-align: center;
}
.imageWrap{
    height:55px;
}
.imagesList{
    position: relative;
}
.heading{
    font-size: 37px;
    color: #212121;
    font-weight: 600;
    font-family: "Poppins";
    margin-bottom:0px;
}
.subheading{
    font-size: 19px;
    color: #666666;
    font-weight: 400;
    font-family: "Poppins";
    margin-bottom:0px;
}
.chartsOuter{
    height:200px;
}
.AgeGroupList li{
  display:inline;
}
.chartsOuter #mapdiv{
    height: 100%;
}
.imageWrap img {
    height:100%;
}
.imagesList{
    list-style:none;
}
.blogTime{
 font-weight: bold;
 color:#000;
}
/*  */
.RelatedReports{
    font-size: 24px;
    line-height: 26px;
    color: #333333;
    font-weight: 600;
    font-family: "Poppins";
    margin:10px 0px;
    border-bottom: 1px solid #e7e7e7;
    padding: 10px 0px;
}
.rightSec li{
    display:inline-block;
}
.rightSec li a{
    font-size: 14px;
    line-height: 32px;
    color: #666666;
    font-weight: 600;
    font-family: "Poppins";
    text-decoration: none;
    padding-right: 10px;
}
.rightSec ul{padding-left:0px;}
.rightImage{
    width:100%;
}
.DescriptionWrap{
    padding:20px 0px 0px;
}
.referLinks a{
    text-decoration: underline !important;
    word-break: break-all;

}
.scoreText p{
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 15px;
    margin: 0px;
    color: #fff !important; 
}
 
.proservices{padding-left:0px;}
.proservices li{
    list-style:none;
    margin:20px 0px;
}
.proservices li a{
    font-size: 14px;
    line-height: 26px;
    color: #444444;
    font-weight: 400;
    font-family: "Poppins";
    margin-left: 6px;
    text-decoration: none;
}
.proservices li a:hover,
.rightSec li a:hover{
   color:#0000fe !important;
}
.ReportIcons{
    background: #f7f7f7;
    padding: 13px 10px;
    border-radius: 5px;
    min-width: 61px !important;
    min-height: 50px !important;
    max-width: 61px !important;
    display: inline-block;
} 
.ReportIcons img{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.custmbtn{
    background: #0000fe;
    display: block;
    text-align: center;
    padding: 8px;
    font-size: 17px;
    color: #ffffff  !important;
    font-weight: 500;
    font-family: "Poppins";
    text-transform: uppercase;
    border-radius: 8px;
    border:2px solid #fff;
}
.custmbtn:hover{
    color: #0000fe !important;
    background-color:#fff;
    border:2px solid #0000fe;
}
.iconsListt,
.iconsListt1{
    padding-left: 0px !important;
    margin-bottom: 0px;
}
.iconsListt li,
.iconsListt1 li{
    display: inline-block;
    margin-left: 22px;
}
.iconsListt a,
.iconsListt1 a{
    font-size: 14px;
    color: #868686;
    font-weight: 400;
    font-family: "Poppins";
    text-decoration: none;
    cursor: pointer;
}
.categoryList ul{
    padding-left:0px;
    margin:0px;
}
.categoryList li:last-child{
    border-right:0px;
}
.categoryList li{
    display: flex;
    border-right:1px solid #d7d7d7;
    padding:0px 3px;
}
.campusVideo{
    width: 100% !important;
}
.iconsListt a:hover,
.iconsListt1 a:hover{
 color:#df1b49;
}
.active{
 color:#df1b49 !important;
}
.custinfo p{
    font-size: 17px;
    line-height: 26px;
    color: #222222;
    font-weight: 500;
    font-family: "Poppins";
    margin-bottom: 0px;
}
.profileWrap{
    width:58px;
    height:58px;
}
.profileWrap img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.descriptionSocialLinks{
display:flex;
justify-content: flex-end
}
.Profile{
    display:flex;
}
.custinfo{
  margin-left:16px;
}
.custinfo .Desc{
    font-size: 14px;
    line-height: 26px;
    color: #666666;
    font-weight: 500;
    font-family: "Poppins";
}
.iconstext{
    margin-left:4px;
}
.iconsListt1{
    border-left: 1px solid #868686;
    margin-left: 16px;
}
.postDetailWrap {
    border-top: 1px solid #e7e7e7;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.postDetailWrap span{
    width:100% !important;
    height:100% !important;
    object-fit: cover;
    object-position: center;
}
.outerRow{
    display:flex;
    justify-content: space-between;
    padding:0px;
    margin:0;
}
.ReportsRightSec,
.innerRow{
    padding: 0px 15px;
}
.advertiseImage{
    width:100%;
    margin-top: 36px;
}
.ReviewOuterContent{
    display:flex;
}
.exploreMoreLinks:hover .blogLinks,
.exploreMoreLinks{
    position:relative;
    display:block;
    cursor: pointer;
}
.categoryList{
    margin: 0px;
    padding-left:0px;
}
.categoryList li:first-child{
    padding-left: 0px;
}
.categoryList li:last-child{
    border:none;
}
.categoryList li{
    display: inline-block;
    border-right: 1px solid #d7d7d7;
    padding: 0px 6px;
    margin: 4px 0px;
}
.blogLinks{
    position:absolute !important;
    display: none;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0px;
    z-index: 9999;
    background: #fff;
    width: 140px;
    box-shadow: 2px 0px 6px #d7d7d7;
    padding: 10px 0px;
    border-radius: 2px;
}
.Profile{
    align-items:center;
}

/* Popup css start */

.likePopup li{
    position: relative;
}
.popupOuter{
    /* position:absolute; */
    top: 40px;
    width: 370px;
    background: #fff;
    z-index: 99;
    left: -120px;
    box-shadow: 0px 0px 5px #b3a0a0;
}

.popupHead {
    padding: 20px 17px;
}

.popupHead h2 {
    font-size: 20px;
}
.popupHead p{
    font-size: 14px;
    margin-bottom: 0px;
}
.SignInBtn {
    padding: 16px 18px;
    border-top: 1px solid #e0e0e0;
}
.SignInBtn a{
    font-size: 16px;
    color: #3f51b5;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}
span.single_iconstext {
    color: #000;
}
.progress_bar_popularity p{
    margin-bottom:0px !important;
    font-size: 13px;
    line-height: 25px;
    color: #444444;
    font-weight: 400;
    font-family: "Poppins";
    list-style:none;
    margin:0px;
}
@media only screen and (max-width:767px){
    .descriptionSocialLinks{
        justify-content:flex-start;
      }
      .blogLinks{
            width:90px;
            padding:10px 0px;
      }
}
@media screen and (max-width : 575px){
    .popupOuter{
        width: 280px;
        left: -130px;
    }
    .popupHead {
        padding: 14px 10px;
    }
    .popupHead h2 {
        font-size: 17px;
    }
    .popupHead p{
        font-size: 12px;
    }
    .SignInBtn {
        padding: 11px 9px;
    }
    .SignInBtn a {
         font-size: 13px;
    }
}

/* Popup css end */

@media only screen and (min-width:1800px){
    .progress_bar_popularity p{
        font-size: 15px !important;
        line-height: 30px !important;
    
    }
    .SingleContainerWrap{
        max-width: 1600px;
    }
    .custmbtn{
      padding:15px;
    }
    .categoryList li{
         font-weight: 400;
    }
    .statesWrap{
        font-size: 18px;
        line-height: 35px;
    }
    .Profile{
        align-items:center;
    }
    .rightSec li a{
        font-size: 16px;
        line-height: 32px;
    }
    .proservices a{
        font-size: 16px !important;
        line-height: 28px !important;
    }
    .statesWrap{
        font-size: 18px;
        line-height: 35px;
    }
    .iconsListt a,
    .iconsListt1 a{
        font-size: 25px;
    }
    .SignInBtn a {
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
   }
   .popupOuter{
    /* position:absolute; */
    top: 45px;
    width: 370px;
    background: #fff;
    z-index: 99;
    left: -34px;
    box-shadow: 0px 0px 5px #b3a0a0;
}
}

@media only screen and (max-width:480px){
    .heading{
        font-size:20px;
    }
    .iconsListt li,
    .iconsListt1 li{
        display: inline-block;
        margin-left: 10px;
    }
    .campusContentWrap{
        display: flex;
        flex-direction: column-reverse;
    }  
}
 