.campusMainSec .bannerSec{
    background-image:url('/images/campus-banner.jpg');
    background-size:100%;
    background-position: center;
    padding:8rem 0px;
}
.campusHead{
    font-size: 50px;
    line-height:55px;
    color:#fff;
}
.campusSubHeading{
  color:#fff;
  font-size: 16px;
line-height: 26px;
margin: 20px 0px;
}
.campusSec{
    padding:50px 0px;
}
.exploreServices img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.campusOuter{
    background-image:url('/images/campus-background.png');
    background-size: 100%;
    background-position: center;
    padding: 40px 50px;
    background-repeat: no-repeat;
}
.campusOuter img{
    width:100%;
    height:100%;
    object-fit: cover;
    object-position: center;
}
.campusContent h1{
    font-size: 40px;
    line-height: 45px;
    color: #fff;
    display:inline-block;
    border-bottom: 1px solid #fff;
}
.campusContent p{
    font-size: 16px;
    color: #fff;
    line-height: 23px;
    margin: 20px 0px;
}
.campusOuter h1{
    color: #fff;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
}
.ServicesContent h1{
    color: #333333;
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 20px;
}
.servicesListing li{
    position: relative;
    list-style: none;
    font-size: 15px;
    line-height: 30px;
    margin: 8px 0px;
}
.servicesListing li:before{
    content: '';
    background-image: url(/images/arrow.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 6px;
    left: -30px;
    background-repeat: no-repeat;
}
.servicesListing{
    margin-top: 40px;
}
.exploreBtn,
.exploreBtn:hover{
    font-size: 16px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Poppins";
    text-decoration: none;
    border-radius: 6px;
    background-color: #0000fe;
    padding: 15px 25px;
    display: inline-block;
    margin-top: 20px;
}
.innovateSec .paragraph{
    color:#fff;
    font-size: 16px;
    line-height: 22px;
    margin: 0px;
}
.innovateSec h1{
    font-size: 40px;
    color: #fff;
    line-height: 60px;
}
.innovateSec{
    background-image: url(/images/innovate-bgg.jpg);
    padding: 50px 0px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.exploreServices{
    padding: 50px 0px;
}
.exploreImage{
    border-radius: 15px;
}
.ServicesContent h1{
    color:#333333;
    font-size: 40px;
    line-height: 45px;
}
.servicesContent p{
    font-size: 16px;
    color: #333333;
    line-height: 22px;
    margin:20px 0px;
    padding:0px 25px 0px 0px;
}